body {
  margin: 0px;
}
.footerall {
  color: #707070;
}
.footer-part1 {
  display: flex;
  justify-content: space-evenly;
  background-color: #282828;
}
h4 {
  color: #ff9900;
  font-size: 21px;
}
.ceo {
  padding-left: 270px;
}
.footer-part1-2 img {
  width: 35px;
  height: 35px;
}
.footer-icon {
  display: flex;
  margin: 10px 0px;
}
.footer-icon img {
  margin-right: 10px;
}
.footer-part1-3 img {
  width: 35px;
  height: 35px;
}
/****************** part 2*********************************/
.footer-part2 {
  background-color: #221e1b;
  height: 75px;
  display: flex;
  justify-content: space-evenly;
}
.footer-part2 * {
  margin: 15px;
}
.line {
  width: 1px;
  height: 20px;
  background-color: #707070;
}
.footer-part2-1 {
  display: flex;
  justify-content: space-between;
}
.footer-part2-2 {
  display: flex;
  justify-content: center;
}
/**************************counter start here********************************/
.qty .count {
  color: #000;
  display: inline-block;
  vertical-align: top;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  padding: 0 2px
  ;min-width: 35px;
  text-align: center;
}
.qty .plus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 30px;
  height: 30px;
  font: 30px/1 Arial,sans-serif;
  text-align: center;
  border-radius: 50%;
  }
.qty .minus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 30px;
  height: 30px;
  font: 30px/1 Arial,sans-serif;
  text-align: center;
  border-radius: 50%;
  background-clip: padding-box;
}
div {
  text-align: center;
}
.minus:hover{
  background-color: #717fe0 !important;
}
.plus:hover{
  background-color: #717fe0 !important;
}
/*Prevent text selection*/
span{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
input{  
  border: 0;
  width: 2%;
}
nput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:disabled{
  background-color:white;
}
/**************************counter ends here********************************/

